<div>
<div class="container containerInicioEY">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 ">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">External Audit</h4>
            </div>
            <div class="card-body">
                <p>
                    <img src="assets/img/EY/EY_TOWER_TORONTO.jpg" alt="" class="EY_TOWER">
                </p>
                <p><a class="btn btn-EY" routerLink="/audit/external" role="button">Go to External Audit &raquo;</a></p>
            </div>
        </div>
        <div class="card mb-4 ">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Internal Audit</h4>
            </div>
            <div class="card-body">
                <p>
                    <img src="assets/img/EY/EY_TOWER_MADRID.jpg" alt="" class="EY_TOWER">
                </p>
                <p><a class="btn btn-EY" routerLink="/audit/internal" role="button">Go to Internal Audit &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
</div>