<div class="container containerExternaAuditEY">
    <div class="card-deck mb-3 text-center">


        <div class="card mb-4 ">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Generación de plantillas</h4>
            </div>
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item text-center" src="https://www.youtube.com/embed/VP2umy6TdEU" allowfullscreen></iframe>
                </div>
                <p><a class="btn btn-EY" routerLink="/audit/external/recordAnalysis/auditedClients/" role="button">Ir a Generación de plantillas &raquo;</a></p>
            </div>
        </div>

        <div class="card mb-4 ">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Fondos de pensiones</h4>
            </div>
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item text-center" src="https://www.youtube.com/embed/l482T0yNkeo" allowfullscreen></iframe>
                </div>
                <p><a class="btn btn-EY" routerLink="/audit/external/ffpp" role="button">Ir a Fondos de pensiones &raquo;</a></p>
            </div>
        </div>      

    </div>
</div>